---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Offers from '../components/Offers.astro';
import About from '../components/About.astro';
import Staff from '../components/Staff.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ChatWidget from '../components/ChatWidget.astro';
---

<Layout title="DentaMenta | Odontología con Sabor a Futuro">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<Offers />
		<About />
		<Staff />
		<Testimonials />
		<FAQ />
		<Contact />
	</main>
	<Footer />
	<ChatWidget />
</Layout>
